<ion-view title="Add Receipt Details" id="page11">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="addReceiptDetails-form6" class="list">
            <label class="item item-input" id="addReceiptDetails-input6">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input" id="addReceiptDetails-input7">
                <span class="input-label">Date</span>
                <input type="date" placeholder="Name">
            </label>
            <label class="item item-input" id="addReceiptDetails-input8">
                <span class="input-label">Amount</span>
                <input type="number" placeholder="Amount">
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="addReceiptDetails-toggle2">Claim</ion-toggle>
            <a ui-sref="myReceipts" id="addReceiptDetails-button10" class="button button-positive  button-block">Save</a>
        </form>
    </ion-content>
</ion-view>
