<ion-view title="My Receipts" hide-back-button="true" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="myReceipts-form5" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search for your receipt">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <ion-list id="myReceipts-list3">
            <ion-item class="item-thumbnail-left item-icon-right" id="myReceipts-list-item1" ui-sref="receiptDetails">
                <h2>Park Burgers</h2>
                <p>10/10/2015</p>
                <i class="icon ion-android-cart"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right" id="myReceipts-list-item8">
                <h2>Cold Storage</h2>
                <p>15/10/2016</p>
                <i class="icon ion-android-cart"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="myReceipts-list-item2">
                <h2>Unclaimed Receipt</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="myReceipts-list-item7">
                <h2>Unclaimed Receipt</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="myReceipts-list-item9">
                <h2>Unclaimed Receipt</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>