<ion-view title="Receipt Details" id="page9">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="receiptDetails-card21">
            <ion-item id="receiptDetails-list-item10">Park Burgers</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <ion-list id="receiptDetails-list4">
            <ion-item class="item-icon-left" id="receiptDetails-list-item14">
                <i class="icon ion-android-cart"></i>2010/05/09</ion-item>
            <ion-item class="item-icon-left" id="receiptDetails-list-item13">
                <i class="icon ion-calendar"></i>2010/05/10</ion-item>
            <ion-item class="item-icon-left" id="receiptDetails-list-item15">
                <i class="icon ion-cash"></i>$100</ion-item>
        </ion-list>
    </ion-content>
</ion-view>